/abc
/Assignment-1 uid
/assignment2.html
/assignment3.html
/bali.jpeg
/birthday.html
/dest.html
/Destination.htm
/destination.html
/eur.jpeg
/form.html
/grv.html
/index1.html
/index2.html
/lits.html
/mal.htm
/mal.jpeg
/r.html
/resume.html
/resume22.html
/resumeee.html
/sani.html
/select.html
/tah.jpg
/try.html